html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: var(--st-comp-lib-text);
}

.navbar {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0.2rem 1rem;
    gap: 0.5rem;
    position: sticky;
    width: 100%;
    z-index: 10;
    top: 0;
    box-shadow: var(--st-box-shadow);
    background-color: var(--st-background-color);
    backdrop-filter: var(--st-backdrop-filter);
}

.header-shadow {
    text-shadow: 1px 1px 1px var(--st-primary-color);
}

.nav-left {
    display: flex;
    position: relative;
    height: 2.5rem;
    width: 40%;
}

.nav-search {
    width: 100%;
}

.search-btn {
    position: absolute;
    right: 0;
    padding: 1rem 2rem;
    color: white;
    background-color: var(--st-primary-color);
}

.search-btn:hover {
    background-color: var(--st-primary-hover);
}

.nav-right {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 1rem;
}

.btn-user {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 3rem;
    background-color: rgba(0,0,0,.9);
    width: 9rem;
    visibility: hidden;
}

.dropdown-content a {
    display: block;
    border-bottom: 1px solid var(--st-secondary-disabled);
    color: var(--st-primary-disabled);
}

.dropdown-content a:nth-child(3) {
    border-bottom: 2px solid transparent
}

.dropdown-content a:hover {
    font-weight: bold;
}

.btn-user:hover .dropdown-content {
    visibility: visible;
}

.dropdown-content a:nth-child(1) {
    display: none;
}

@media only screen and (max-width: 850px) {
   
    .nav-left {
        margin: auto;
        /* width: 80%; */
    }

    .header-icons :nth-child(3)  {
        order: 2;
    }

    .nav-right-btn {
        display: none;
    }

    .dropdown-content {
        right: 0.2rem;
    }

    .dropdown-content a:nth-child(1) {
        display: block;
    }

}

@media only screen and (max-width: 768px) {

    .navbar :nth-child(2) { 
        order: 1; 
    }

    .nav-left {
        width: 80%;
    }

}