
.main {
    grid-template-columns: auto;
   
}

.background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    filter: blur(1px);
}

.product-gryffindor {
    background-color: #800000;
    width: 100%;
    height: 50vh;
}

.product-slytherin {
    background-color: #294936;
    width: 100%;
    height: 50vh;
}

.product-ravenclaw {
    background-color: #015783;
    width: 100%;
    height: 50vh;
}

.product-hufflepuff {
    background-color: #FFD63B;
    width: 100%;
    height: 50vh;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.background, .auth-cards {
    grid-area: 1/1/2/2;
}

.auth-cards {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap:1rem;
    z-index: 2;
    width: 24rem;
    height: 22rem;
    box-shadow: 2px 2px 3px hsla(200, 100%, 15%, 0.1); 
    background-color: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(4px);
}

.field-size {
    width: 20rem;
}

.auth-div {
    align-items: center;
    gap: 2rem;
}

.checkbox {
    height: 18px;
    width: 18px;
}

.remember-me {
    align-items: center;
    gap: 0.2rem
}

.forgot-password {
    font-weight: 700;
    color: var(--st-primary-color);
}
