.background {
    grid-template-columns: repeat(2, 1fr);
    filter: blur(1px);
    position: fixed;
    z-index: 0;
    top: 0;
}

.product-houses {
    width: 50vw;
    height: 50vh;
}

.product-gryffindor {
    background-color: #800000;  
}

.product-slytherin {
    background-color: #294936;
}

.product-ravenclaw {
    background-color: #015783;
}

.product-hufflepuff {
    background-color: #FFD63B;
}

.product {
    flex-direction: column
}

.main {
  height: 70vh; 
}

.auth-cards {
    flex-direction: column;
    padding: 1rem;
    gap:1rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.field-size {
    width: 20rem;
}

.auth-div {
    align-items: center;
    gap: 2rem;
}

.checkbox {
    height: 18px;
    width: 18px;
}

.remember-me {
    align-items: center;
    gap: 0.2rem
}
