.main {
    grid-template-columns: auto;   
}

.background {
    grid-template-columns: repeat(2, 1fr);
    filter: blur(3px);
    position: fixed;
    z-index: 0;
    top: 0;
}

.product-houses {
    width: 50vw;
    height: 50vh;
}

.product-gryffindor {
    background-color: var(--st-gryffindor);  
}

.product-slytherin {
    background-color: var(--st-slytherin);
}

.product-ravenclaw {
    background-color: var(--st-ravenclaw);
}

.product-hufflepuff {
    background-color: var(--st-hufflepuff);
}

.product {
    flex-direction: column
}

.house-links {
    z-index: 7;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.house-avatar {
    position: absolute;
    left: 0.8rem;
}

.gryffindor {
    top: 1rem;
}

.ravenclaw {
    top: 5rem;
}

.hufflepuff {
    top: 9rem;
}

.slytherin {
    top: 13rem;
}

.house-avatar:hover {
    opacity: 0.8;
}

.cart-heading {
    display: flex;
    justify-content: center;
    z-index: 5;
    margin-top: 0.5rem;
    color: var(--st-white);
    font-family: var(--st-header-text);
    margin-bottom: 1rem;
}


.cart-price-div {
     justify-content: center;
     flex-wrap: wrap;
     gap: 2rem;
     z-index: 5;
     margin-top: 1rem;
}

.cart-div {
    flex-direction: column;
}

.cart-card {
    flex-wrap: wrap;
    background-color: var(--st-background-color);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem
}

.items {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.product-image {
    background-color: var(--st-background-color);
    border-radius: 0.5rem 0 0 0.5rem;
    width: 10rem;
    height: 14.5rem;
}

.btn-counter {
    margin: 0.5rem;
}

.card-content {
    padding-left: 1rem;
    padding-top: 0.2rem;
    flex-direction: column;
    gap: 0.5rem
}

.price-div {
    gap: 0.5rem;
    align-items: center;
}

.discount {
    font-weight: bold;
    color: var(--st-primary-color);
}

.total-price-div {
    justify-content: center;
}

.price-card {
    background-color: var(--st-background-color);
    width: 18rem;
    padding: 1rem;
    height: 21rem;
}

.cart-price-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.lists {
   justify-content: space-between;
}

hr {
    background-color: var(--st-black);
    margin: 0.5rem 0;
}

.big-btn-container {
    margin: 0 auto;
    margin-top: 1rem
}